* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(114, 108, 103);
}
.Nom {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 3rem;
}
.T,
.M,
.G {
  color: rgb(121, 27, 27);
}

.game {
  position: relative;
  border: 5px solid gold;
  border-top: 5px solid silver;
  border-right: 5px solid silver;
  box-shadow: 0px 3px 3px 1px #262424;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 30px;
  transform: rotate(-45deg);
  overflow: hidden;

  .player_1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 200px;
    background: rgb(255, 217, 0);
    #rouge {
      position: relative;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;
      margin: 50px 30px;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 6px 2px #ff5722db;
        cursor: grab;
      }
    }
    #bleu {
      position: relative;
      width: 50px;
      height: 50px;
      background: blue;
      border-radius: 50%;
      margin: 50px 30px;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 6px 2px #22cbffdb;
        cursor: grab;
      }
    }
    #vert {
      width: 50px;
      height: 50px;
      background: green;
      border-radius: 50%;
      margin: 50px 30px;
      position: relative;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 6px 2px #7aff21db;
        cursor: grab;
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 30px;
    }
  }

  #scoreCounter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    opacity: 0;
    text-align: center;
  }
  #countdown {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-45%, -45%) rotate(45deg);
    font-size: 2rem;
    color: rgb(0, 0, 0);

    opacity: 0;
  }

  .machine {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 200px;
    // clip-path: polygon(100% 100%, 0% 100%, 0% 100%, 100% 0%);
    background: silver;
    #rougeMachine {
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;
      margin: 50px 30px;
      opacity: 0;
      transition: 0.2s ease-in;
      position: relative;
    }
    #bleuMachine {
      width: 50px;
      height: 50px;
      background: blue;
      border-radius: 50%;
      margin: 50px 30px;
      opacity: 0;
      transition: 0.2s ease-in;
      position: relative;
    }
    #vertMachine {
      width: 50px;
      height: 50px;
      background: green;
      border-radius: 50%;
      margin: 50px 30px;
      opacity: 0;
      transition: 0.2s ease-in;
      position: relative;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 30px;
    }
  }

  #win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    font-size: 4rem;
    color: gold;
  }
  #loose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    font-size: 2.5rem;
    text-align: center;
    color: silver;
  }
}
#rejouer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  padding: 5px;
  text-transform: uppercase;
  background: black;
  color: white;
  &:hover {
    transform: translate(-50%) scale(1.1);
    background: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    cursor: pointer;
  }
}
.Machine-card {
  position: absolute;
  bottom: 10%;
  right: 20%;
  #Perso-machine {
    height: 200px;
    box-shadow: 0 0 17px 0px #ef0b0b;
    border: 1px solid black;
  }
  h3 {
    text-align: center;
    margin-top: 10px;
  }
}
#Perso-player {
  position: absolute;
  top: 10%;
  left: 20%;
  height: 200px;
  box-shadow: 0 0 17px 0px #0b1aef;
  border: 1px solid black;
}
.Player-card {
  position: absolute;
  top: 38%;
  left: 20%;
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    margin-top: 10px;
  }
}
#changer-nom {
  position: absolute;
  top: 43%;
  left: 19%;
  display: none;
  padding: 5px;
  text-transform: uppercase;
  background: black;
  color: white;
  transform: scale(0.8);
  &:hover {
    transform: scale(0.9);
    background: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    cursor: pointer;
  }
}
.rules {
  position: absolute;
  right: 5%;
  bottom: 30%;
  background: white;
  font-size: 0.9rem;
  width: 17%;
  border-radius: 20px 20px 20px 0;
  border: 3px solid black;
  padding: 5px;
}
.palmarès-morpions {
  #palmarès {
    position: absolute;
    bottom: 30%;
    left: 20%;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 10px;
    font-size: 0.7rem;
    background: black;
    color: white;
    transition: 0.2s ease;
    &:hover {
      transform: scale(0.9);
      background: rgba(0, 0, 0, 0.534);
      border-radius: 45%;
      cursor: pointer;
    }
  }
  .palmarès-window {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    height: 500px;
    width: 400px;
    border: 5px solid black;
    background: brown;

    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    h2 {
      text-align: center;
    }
    ul {
      margin-top: 10px;
    }
    li {
      text-align: center;
      font-size: 1.2rem;
      color: gold;
    }
  }
}
