@font-face {
  font-family: "pop";
  src: url(../fonts/Loli\ Pop.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
  background: rgb(109, 44, 44);
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-family: "pop";
  scale: 1;
}

#lvl {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "pop";
  font-size: 1rem;
  color: yellow;
  border: 2px solid yellow;
  width: 75px;
  opacity: 0;
  text-align: center;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

#start {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 75px;
  width: 100px;
  padding: 10px;
  padding-bottom: 15px;
  scale: 1.5;
  font-family: "pop";
  border-radius: 30px;
  -webkit-clip-path: polygon(93% 20%, 84% 46%, 93% 69%, 53% 61%, 12% 71%, 18% 44%, 8% 25%, 53% 27%);
          clip-path: polygon(93% 20%, 84% 46%, 93% 69%, 53% 61%, 12% 71%, 18% 44%, 8% 25%, 53% 27%);
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(237, 251, 63) 0%, rgb(245, 4, 4) 100%);
  cursor: pointer;
  -webkit-box-shadow: inset 8px 8px 20px 8px rgba(0, 0, 0, 0.631372549);
          box-shadow: inset 8px 8px 20px 8px rgba(0, 0, 0, 0.631372549);
}
#start:hover {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(245, 4, 4) 0%, rgb(237, 251, 63) 100%);
}

#kid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-47%, -80%);
          transform: translate(-47%, -80%);
  z-index: -1;
  height: 400px;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
  -webkit-animation: anim 7s forwards;
          animation: anim 7s forwards;
}

.soap {
  position: absolute;
  background: url(../images/shampoo-4015072_640.png) center/contain no-repeat;
  -webkit-animation: animS 4s forwards;
          animation: animS 4s forwards;
}

.bubbleTea {
  position: absolute;
  background: url(../images/milk-tea-6005310_640.png) center/contain no-repeat;
  -webkit-animation: animT 6s forwards;
          animation: animT 6s forwards;
}

.fish {
  position: absolute;
  background: url(../images/blowfish-2027755_1280.png) center/contain no-repeat;
  -webkit-animation: animF 4s forwards;
          animation: animF 4s forwards;
}

@-webkit-keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 0.5;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 0.5;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}
@-webkit-keyframes animS {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}
@keyframes animS {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}
@-webkit-keyframes animT {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}
@keyframes animT {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}
@-webkit-keyframes animF {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}
@keyframes animF {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
}
#text {
  position: absolute;
  top: 20%;
  left: 65%;
  width: 300px;
  translate: -50% -30%;
  font-family: "pop";
  font-size: 1rem;
  background: rgba(243, 143, 160, 0.67);
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  border: 2px solid black;
}

#finish {
  position: absolute;
  top: 60%;
  left: 50%;
  translate: -50% -30%;
  font-family: "pop";
  font-size: 10rem;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */